<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".qa.HistoryDetailSheetQaActivity"
            android:exported="true"
            android:theme="@style/Theme.ClipDock" />
        <activity
            android:name=".qa.LiveSyncQaActivity"
            android:exported="true"
            android:theme="@style/Theme.ClipDock" />
    </application>
</manifest>
